PORT=3000
DATABASE_URL=postgres://user:password@localhost:5432/archivencimientos
EXPO_ACCESS_TOKEN=xxxxxxxxxxxxxxxx
PORT=3000
DB_HOST='localhost'
DB_PORT=2313
DB_USER='postgres'
DB_PASSWORD='password'
DB_NAME='nombre_de_tu_base_de_datos'